body {
    background-color: #e8e3de;
    color: #27170e;
    font-family: Verdana;
    margin: 0;
}

header, footer {
    background: #e5dcd1;
    padding: 5px;
    margin: 0;
    text-align: center;
}

h2{
    background: #AAC0C4;
    text-align: center;
    border-radius: 40px;
    margin: 80px 25px 0 25px;
    padding: 15px;
    width: 18%;
}

a {
    text-decoration: none;
    color: #27170e;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 100px 0;
}

.bi_bi-arrow-up-circle {
    position: fixed;
    right: 45px;
    bottom: 55px;
    z-index: 2;
    color: #7790A4;
}
#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
#back-to-top button {
    background-color: #e8e3de;
    color: #7790A4;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 16px;
}

/* Resume */
.m01,.m02 {
    display: flex;
    justify-content: center;
}

.m01 > .img {
    margin: 50px 10px 0px 9%;
    border-radius: 40px;
}

.m01 > div > a > img {
    margin: 0 10px;
}

.m01 > div {
    background: #7790A4;
    font-size: large;
    text-align: left;
    width: 29%;
    padding: 20px 25px;
    border-radius: 40px;
    margin: 20px 10px 20px 110px;
}

.m02 > div {
    background: #7790A4;
    text-align: center;
    width: 30%;
    word-wrap: break-word;
    border-radius: 40px;
    padding: 20px;
    margin: 30px 20px;
}

.m02 > div > p {
    font-family: cursive,標楷體 ;
    font-size: larger;
}

/* Program Skills */
.ps {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ps > div {
    display: block;
    background: #7790A4;
    border-radius: 40px;
    font-size: larger;
    margin: 40px 0 10px 15%;
    padding: 15px;
    width: 100px;
}

.ps > p {
    margin: 60px 20% 30px 0px;
}

progress {
    position: relative;
    top: 60px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
    width: 50%;
    margin: 0 10px 40px 10px;
}

progress::-webkit-progress-bar {
    background-color: #EDEDED;
}

progress::-moz-progress-bar {
    background-color: #EDEDED;
}

progress::-webkit-progress-value {
    background-color: #BA9E9E;
}

progress::-moz-progress-value {
    background-color: #BA9E9E;
}



/* Other Skills */
.os {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.os > p {
    background: #7790A4;
    font-size: larger;
    border-radius: 40px;
    margin: 10px;
    padding: 15px;
    width: 100px;
}

.os > .container {
    position: relative;
    width: 120px;
    height: 120px;
    padding: 5px;
    border: 5px solid #BA9E9E;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px 40px 20px 10px;
    float: center ;
}

.wave1,.wave2,.wave3,.wave4 {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: #BA9E9E;
    border-radius: 50%;
}

.wave1::before,
.wave1::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 42%;
    transform: translate(-50%, -70%) rotate(0);
    animation: rotate 5s linear infinite;
    z-index: 1;
}
.wave1::after {
    border-radius: 49%;
    background-color: rgba(255, 255, 255, .9);
    animation: rotate 11s linear -5s infinite;
    z-index: 2;
}

.wave2::before,
.wave2::after {
    content: "";
    position: absolute;
    width: 160px;
    height: 160px;
    top: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 42%;
    transform: translate(-50%, -70%) rotate(0);
    animation: rotate 5s linear infinite;
    z-index: 1;
}
.wave2::after {
    border-radius: 49%;
    background-color: rgba(255, 255, 255, .9);
    animation: rotate 11s linear -5s infinite;
    z-index: 2;
}

.wave3::before,
.wave3::after {
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    top: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 44%;
    transform: translate(-50%, -70%) rotate(0);
    animation: rotate 5s linear infinite;
    z-index: 1;
}
.wave3::after {
    border-radius: 49%;
    background-color: rgba(255, 255, 255, .9);
    animation: rotate 11s linear -5s infinite;
    z-index: 2;
}

.wave4::before,
.wave4::after {
    content: "";
    position: absolute;
    width: 130px;
    height: 130px;
    top: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 40%;
    transform: translate(-50%, -70%) rotate(0);
    animation: rotate 5s linear infinite;
    z-index: 1;
}
.wave4::after {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .9);
    animation: rotate 11s linear -5s infinite;
    z-index: 2;
}

.container > p {
    position: absolute;
    top: 28%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #000;
    z-index: 10;
}
@keyframes rotate {
    50% {
        transform: translate(-50%, -73%) rotate(180deg);
    } 
    100% {
        transform: translate(-50%, -70%) rotate(360deg);
    }
}


/* Experiences */
.exp{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    height: auto;
    margin: 50px;
}

.grid-item > p {
    background: #7790A4;
    text-align: left;
    width: auto;
    word-wrap: break-word;
    border-radius: 40px;
    padding: 20px;
}

.exp > .grid-container {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr  1fr;
    gap: 50px;
}

.exp > .grid-item {
    overflow: hidden;
}

.slider-container {
    position: relative;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    width: 900px;
}

.slide {
    min-width: 300px;
    height: 300px;
}

.exp > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.img02{
    border-radius: 20px;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 20px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.slider-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}
